<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="infoConsole" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="INFO" />
			<param name="levelMax" value="INFO" />
		</filter>
	</appender>

	<appender name="errorConsole" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err"/>
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%throwable{none}%m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="ERROR" />
			<param name="levelMax" value="ERROR" />
		</filter>
	</appender>

	<appender name="debugConsole" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t] %-5p %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="TRACE" />
			<param name="levelMax" value="DEBUG" />
		</filter>
	</appender>

	<logger name="org.hibernate.validator.internal.util.Version">
		<level value="ERROR"/>
	</logger>


	<root>
		<level value="debug"/>
		<appender-ref ref="infoConsole"/>
		<appender-ref ref="errorConsole"/>
		<appender-ref ref="debugConsole"/>
	</root>

</log4j:configuration>